.grid {
    padding-top: 1em;
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-areas:
        "about about"
        "aboutText aboutText"
        "theo cooking"
        "nyc park"
        "personal personal"
        "personalText personalText";
}

.about {
    grid-area: about;
    justify-self: start;
}

.aboutText {
    grid-area: aboutText;
}

.theo {
    grid-area: theo;
}

.cooking {
    grid-area: cooking;
}

.park {
    grid-area: park;
}

.nyc {
    grid-area: nyc;
}

.image {
    aspect-ratio: 1;
}

.personal {
    grid-area: personal;
    justify-self: start;
}

.personalText {
    grid-area: personalText;
}

@media (min-width: 580px) {
    .grid {
        padding-top: 15px;
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template-areas:
            "about about about about"
            "aboutText aboutText aboutText aboutText"
            "theo park nyc cooking"
            "personal personal personal personal"
            "personalText personalText personalText personalText";
    }

    .personalText,
    .aboutText {
        max-width: 75%;
        text-align: center;
    }
}
