.grid {
    padding-top: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-template-areas:
        "certificates"
        "react"
        "javascript"
        "python"
        "django";
}

/* .certTitle {
    display: none;
} */

.article {
    margin: 1em 0;
    display: grid;
}

.imageContainer {
    max-width: 100%;
}

.certificates {
    grid-area: certificates;
}

.react {
    grid-area: react;
    /* grid-template-areas:
        "certTitle"
        "imageContainer"; */
}

.javascript {
    grid-area: javascript;
    align-items: center;
    /* grid-template-areas:
        "certTitle imageContainer imageContainer"
        "certTitle imageContainer imageContainer"; */
}

.django {
    grid-area: django;
    /* grid-template-areas:
        "certTitle"
        "imageContainer"; */
}

.python {
    grid-area: python;
    align-items: center;
    /* grid-template-areas:
        "imageContainer imageContainer certTitle"
        "imageContainer imageContainer certTitle"; */
}

/* .certTitle {
    grid-area: certTitle;
} */

.imageContainer {
    grid-area: imageContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 0.75rem;
}

@media (min-width: 40em ) and (max-width: 50em) {
    .small {
        font-size: 1.4vw;
    }
}

@media (max-width: 40em) {
    .javascriptImage,
    .pythonImage {
        max-width: 250px;
    }

    .djangoImage {
        max-width: 390px;
    }

    .reactImage {
        max-width: 410px;
    }

}

@media (min-width: 40em) {
    .grid {
        align-items: baseline;
        grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
        grid-template-areas:
            "certificates certificates certificates certificates"
            "react javascript python django";
    }

  
}
