

.buttonContainer {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.formButton {
    min-width: 48%;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    border-radius: 10px;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    font-size: 0.95rem;
    cursor: pointer;
}

.error {
    font-style: italic;
    font-size: 0.8rem;
    color: red;
}

.cancelButton {
    background-color: var(--clr-light);
}

.submitButton {
    background-color: var(--clr-green);
}