.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 300px;
    padding: 5px 20px 15px;
    background: #fff;
    border-radius: 10px;
    z-index: 11;
}

.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: var(--fw-reg);
}

.close {
    font-size: 2rem;
    border: none;
    color: #333;
    background-color: transparent;
    position: relative;
    bottom: 7px;
    left: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.close:hover {
    transform: scale(1.2);
}

.form {
    padding-left: 5px;
}

.radio {
    display: none;
}

.ratingContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -18px;
}

.starContainer {
    display: flex;
    justify-content: center;
}

.ratingLabel {
    margin-right: auto;
    color: rgb(90, 90, 90);
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}

.ratingError {
    margin-right: auto;
    position: relative;
    bottom: 10px;
}

.star {
    cursor: pointer;
    transition: color 200ms;
    padding: 0 1px;
}

.input {
    outline: none !important;
    width: 100%;
    padding: 8px;
    margin-block: 5px;
    border: 2px solid var(--clr-light);
    border-radius: 5px;
    color: var(--clr-dark);
    transition: all ease 0.3s;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.input:focus-visible {
    border: 2px solid var(--clr-burnt);
}

.commentsInput {
    margin: 0;
    resize: none;
}

.buttonContainer {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.formButton {
    min-width: 48%;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    border-radius: 10px;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    font-size: 0.95rem;
    cursor: pointer;
}

.error {
    font-style: italic;
    font-size: 0.8rem;
    color: red;
}

.cancelButton {
    background-color: var(--clr-light);
}

.submitButton {
    background-color: var(--clr-green);
}