.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
}

.top {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 1rem;
}
