.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 1em;
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
}

.top {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
}


.feedbackButton {
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 1.75;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857rem;
    font-family: var(--ff-primary);
}

@media (min-width: 550px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
