.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 1em;
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
}

.top {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    transition: ease-in 0.2s;
}

.top:hover {
    filter: brightness(75%);
}

.feedbackButton {
    color: #fff;
    border-color: #fff;
}

.feedbackButton:hover {
    border-color: var(--clr-light);
    color: var(--clr-light);
}

@media (min-width: 550px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
