.grid {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}
.hello {
    grid-area: hello;
}

.detail {
    grid-area: detail;
    /* slight offset from left side */
    margin: 0 0 3% 2%;
}

.buttonsContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.buttons {
    flex: 1 1 0px;
    border-radius: 10px;
    min-width: 140px;
    max-width: 250px;
    min-height: 42px;
    font-family: var(--ff-primary);
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact {
    background-color: var(--clr-green);
    color: var(--clr-dark);
    grid-area: contact;
}

.download {
    background-color: var(--clr-dark);
    grid-area: download;
    color: var(--clr-light);
}

.image {
    grid-area: image;
    padding-bottom: 1em;
}

.show {
    display: none;
    font-family: var(--ff-primary);
}

@media (max-width: 25em) {
    /* .buttonsContainer {
        flex-direction: column;
    } */
    /* text underneath header, only show at > 30em */
    .show {
        display: none;
    }
}

@media (min-width: 60em) {
    .grid {
        display: grid;
        padding-top: 7em;
        padding-bottom: 9em;
        grid-auto-columns: 1fr;
        align-items: center;
        grid-template-areas:
            "hello hello hello image image image image image"
            "detail detail detail image image image image image"
            "contact download . image image image image image";
    }

    .hello {
        font-size: 3rem;
    }

    .detail {
        font-size: 1.25rem;
    }

    .image {
        padding: 0;
    }
}
