

.buttonsContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.buttons {
    flex: 1 1 0px;
    border-radius: 10px;
    min-width: 140px;
    max-width: 250px;
    min-height: 42px;
    font-family: var(--ff-primary);
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact {
    background-color: var(--clr-green);
    color: var(--clr-dark);
    grid-area: contact;
}

.download {
    background-color: var(--clr-dark);
    grid-area: download;
    color: var(--clr-light);
}

.image {
    grid-area: image;
    padding-bottom: 1em;
    z-index: 1;
}

@media (min-width: 60em) {
    .grid {
        display: grid;
        padding-top: 7em;
        padding-bottom: 9em;
        grid-auto-columns: 1fr;
        align-items: center;
        grid-template-areas:
            "hello hello hello image image image image image"
            "detail detail detail image image image image image"
            "contact download . image image image image image";
    }
}
