.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--clr-dark);
}

.heart {
    color: var(--clr-burnt);
    width: 40px;
    height: auto;
}

.navList {
    display: flex;
    flex-direction: row;
}

.navItem {
    list-style-type: none;
    padding: 0 0.3em;
}

.navLink {
    color: var(--clr-light);
    text-transform: uppercase;
}

.navbarToggle {
    display: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px var(--clr-dark) solid;
    border-radius: 5px;
    background-color: var(--clr-burnt);
}

@media (max-width: 45em) {
    .hamburger {
        display: block;
        padding: 0.5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: fixed;
        right: 2em;
        top: 1em;
        z-index: 2;
    }

    .nav {
        position: fixed;
        inset: 0 0 0 30%;
        background: hsl(196 53% 17% / 0.75);
        transition: 0.3s;
        backdrop-filter: blur(1rem);
        z-index: 1;
    }

    .toggle {
        inset: 0 0 0 100%;
    }

    .navList {
        flex-direction: column;
    }

    .navItem {
        font-weight: var(--fw-bold);
        font-size: 1rem;
        letter-spacing: 4px;
        padding: 1em;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }
}
