.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-dark);
}

.navList {
    display: flex;
    flex-direction: row;
}

.navItem {
    list-style-type: none;
    padding: 0 0.3em;
}

.navLink {
    color: var(--clr-light);
}
