.section {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.p {
    background-color: red;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 10px;
}

.projects {
    justify-self: start;
}

@media (min-width: 40em) {
    .projects {
        align-self: center;
    }
}

.articleTitle {
    grid-area: articleTitle;
}

.articleBody {
    grid-area: articleBody;
}

.articleLinksContainer {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.articleLink,
.articleLinkLive {
    flex: 1 1 0px;
    grid-area: articleLink;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-self: start;
    justify-content: center;
    align-items: baseline;
    min-width: 185px;
    padding: 5px 15px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.articleLinkLive {
    background-color: var(--clr-burnt);
    color: var(--clr-dark);
}

.articleVideo {
    grid-area: articleVideo;
}

@media (max-width: 30em) {
    .articleLinksContainer {
        flex-direction: column;
    }
}

@media (min-width: 50em) {
    .grid {
        row-gap: 2em;
    }

    .article {
        display: grid;
        column-gap: 2em;
        row-gap: 0em;
        margin-bottom: 4em;
        align-items: center;
        margin-left: 0;
    }

    /* offset a little */
    .articleTitle {
        padding-left: 0.5em;
    }

    .article:nth-child(odd) {
        grid-template-columns: 1fr 0.8fr;
        grid-template-areas:
            "articleVideo articleTitle"
            "articleVideo articleBody"
            "articleVideo articleLink";
    }
    .article:nth-child(even) {
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas:
            "articleTitle articleVideo"
            "articleBody articleVideo"
            "articleLink articleVideo";
    }
}

/* 
    Video Player
*/
.videoContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (max-width: 390px) {
    .iframe {
        max-width: 220px;
    }
}

/* 
    Coming Soon! / Live Site
*/
.imgContainer {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    position: relative;
    bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imgLiveSite {
    width: 100%;
    position: relative;
    bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
