*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
    Custom Properties 
*/

:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Noto Sans", sans-serif;
    --ff-code: "Fira Code", monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #dad2d8;
    --clr-dark: #143642;
    --clr-accent: #80ced7;
    --clr-green: #c2e812;

    --clr-gradient-primary: linear-gradient(
        101.08deg,
        #80ced7 0%,
        #e5e5e5 93.81%
    );
    --clr-gradient-secondary: linear-gradient(
        77.63deg,
        #f8f6f7 6.82%,
        #dad2d8 100%
    );

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 50em) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* 
    General Styling 
*/

body {
    line-height: 1.6;
    margin: 0;
    color: var(--clr-dark);
}

a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: var(--fw-reg);
}

button {
    border-radius: 10px;
    min-width: 120px;
    min-height: 38px;
    font-family: var(--ff-primary);
    border: none;
}

.image-wrapper {
    display: block;
    min-width: 100%;
}

/* 
    Typography
*/

h1,
h2,
h3 {
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}
/* 
section {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
} */

/* 
    Background
*/
.primary-background {
    background: var(--clr-gradient-primary);
}

.secondary-background {
    background: var(--clr-gradient-secondary);
}
