/* 
    Custom Properties 
*/

:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Noto Sans", sans-serif;
    --ff-code: "Fira Code", monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #dad2d8;
    --clr-dark: #143642;
    --clr-accent: #80ced7;
    --clr-green: #c2e812;
    --clr-burnt: #c97064;

    --clr-gradient-primary: linear-gradient(
        101.08deg,
        #80ced7 0%,
        #e5e5e5 93.81%
    );
    --clr-gradient-secondary: linear-gradient(
        77.63deg,
        #f8f6f7 6.82%,
        #dad2d8 100%
    );

    --fs-h1: 3.5rem;
    --fs-h2: 2.75rem;
    --fs-h3: 2rem;
    --fs-h4: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 50em) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-h4: 1.75rem;
        --fs-body: 1.25rem;
    }
}

/* 
    General Styling 
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--ff-secondary);
}

body {
    line-height: 1.6;
    margin: 0;
    color: var(--clr-dark);
}

a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: var(--fw-reg);
}

.image-wrapper {
    display: block;
    max-width: 100%;
}

/* 
    Typography
*/

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    margin: 0;
    font-family: var(--ff-primary);
}

p {
    font-size: var(--fs-body);
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

section,
.navbarHeader {
    padding: 1em 2em 2em;
}

@media (min-width: 40em) {
    .sectionHeader {
        justify-self: center !important;
    }
}

@media (min-width: 50em) {
    section,
    .navbarHeader {
        padding-inline: 8%;
    }
}

@media (min-width: 70em) {
    section,
    .navbarHeader {
        padding-inline: 15%;
    }
}

/* 
    Background
*/
.bgi {
    background-image: url("../public/images/bg.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right -40% top 60%;
}

.primary-background {
    background: var(--clr-gradient-primary);
}

.secondary-background {
    background: var(--clr-gradient-secondary);
}
