@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Custom Properties 
*/
/* :root {
    --clr-gradient-primary: linear-gradient(
        101.08deg,
        #80ced7 0%,
        #e5e5e5 93.81%
    );
    --clr-gradient-secondary: linear-gradient(
        77.63deg,
        #f8f6f7 6.82%,
        #dad2d8 100%
    );
} */


/* 
    General Styling 
*/
html {
    scroll-behavior: smooth;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* a {
    text-decoration: none;
} */

/* 
    Background
*/
.primaryBackground {
    background: var(--clr-gradient-primary);
}

.secondaryBackground {
    background: var(--clr-gradient-secondary);
}

/* 
    NavLinks
*/
#about,
#projects,
#certificates,
#contact {
    scroll-margin-top: 71px;
}
